* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-family: "Russo One";
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

._ibg {
  position: relative;
}
._ibg > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/*-----------------------------------*/
.wrapper {
  background: #222222;
}

.header__container {
  max-width: 1076px;
}
.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 18px;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo {
  position: relative;
  width: 269px;
  height: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__line {
  height: 33px;
  width: 1px;
  background: #fff;
  margin: 0 21px 0 24px;
  margin-top: 42px;
}
.header__text {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  color: #2194FF;
  margin-top: 42px;
}
.header__right {
  margin-top: 6px;
}
.header__phone {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120.8333333333%;
  color: #F1F1F1;
}
.header__phone:not(:last-child) {
  margin-bottom: 5px;
}
.header__question {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 137.5%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2194FF;
}

@media (max-width: 720px) {
  .header__wrap {
    padding-top: 10px;
  }
  .header__logo {
    width: 150px;
    height: 54.645px;
  }
  .header__line {
    margin-top: 20px;
  }
  .header__text {
    margin-top: 20px;
  }
  .header__phone {
    font-size: 16px;
  }
}
@media (max-width: 510px) {
  .header__logo {
    width: 135px;
    height: 49.1805px;
  }
  .header__line {
    display: none;
  }
  .header__text {
    display: none;
  }
}
.main-block__container {
  max-width: 1076px;
}
.main-block__wrap {
  padding: 33px 0 58px 0;
  position: relative;
  min-height: 535px;
}
.main-block__body {
  max-width: 528px;
}
.main-block__text {
  position: relative;
}
.main-block__text:not(:first-child) {
  margin-top: 12px;
}
.main-block__text:not(:last-child) {
  margin-bottom: 40px;
}
.main-block__title {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 98%;
  color: #2194FF;
}
.main-block__title:not(:last-child) {
  margin-bottom: 14px;
}
.main-block__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120.8333333333%;
  color: #F1F1F1;
}
.main-block__arrow {
  position: absolute;
  bottom: -57px;
  right: 23%;
}
.main-block__button {
  max-width: 395px;
}
.main-block__btn {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 122.7272727273%;
  text-align: center;
  color: #F1F1F1;
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
  background: #2194FF;
  -webkit-box-shadow: inset 0px 4px 12px rgba(0, 0, 0, 0.45);
          box-shadow: inset 0px 4px 12px rgba(0, 0, 0, 0.45);
  border-radius: 11px;
  padding: 15px 15px 18px 15px;
  width: 395px;
  text-align: center;
}
.main-block__btn:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  width: 377px;
  height: 44.02px;
  background: url(../img/main_block/btn_top.svg);
  margin: 9.16px 9px 0 9px;
  top: 0;
  left: 0;
}
.main-block__btn:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  width: 374px;
  height: 26.01px;
  background: url(../img/main_block/btn_bottom.svg);
  margin: 0 9px 8.81px 12px;
  bottom: 0;
  left: 0;
}
.main-block__btn span {
  position: relative;
  z-index: 3;
}
.main-block__label {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 137.5%;
  color: #F1F1F1;
  text-align: center;
}
.main-block__label:not(:first-child) {
  margin-top: 13px;
}
.main-block__img {
  position: absolute;
  width: 1037px;
  height: 477px;
  top: 0;
  right: 58%;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.weather__block {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 137.5%;
  color: #F1F1F1;
}
.weather__block:not(:last-child) {
  margin: 0 34px 0 0;
}
.weather__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7px;
}
.weather__img {
  position: relative;
  width: 25px;
  height: 25px;
}
.weather__img:not(:last-child) {
  margin-right: 8px;
}
.weather__img > img {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.weather_arrow {
  height: 16px;
  width: 16px;
}

@media (max-width: 970px) {
  .main-block__img {
    right: 40%;
  }
}
@media (max-width: 700px) {
  .main-block__wrap {
    min-height: 0;
  }
  .main-block__body {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .main-block__arrow {
    width: 80px;
    height: 85.2336px;
    right: 0;
  }
  .main-block__img {
    display: none;
  }

  .weather__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 480px) {
  .main-block__wrap {
    padding: 30px 0;
  }
  .main-block__text:not(:last-child) {
    margin-bottom: 20px;
  }
  .main-block__title {
    font-size: 40px;
  }
  .main-block__subtitle {
    font-size: 20px;
  }
  .main-block__arrow {
    display: none;
  }
  .main-block__button {
    max-width: 100%;
  }
  .main-block__btn {
    width: 100%;
    font-size: 18px;
  }
  .main-block__btn:before, .main-block__btn:after {
    display: none;
  }
  .main-block__label {
    font-size: 14px;
  }

  .weather {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .weather__block:not(:last-child) {
    margin: 0 0 15px 0;
  }
}
.price {
  background: rgba(33, 148, 255, 0.05);
}
.price__wrap {
  padding: 46px 0 49px 0;
}
.price__title {
  color: #2194FF;
}
.price__title:not(:last-child) {
  margin-bottom: 49px;
}
.price__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 260px 10px auto 10px 260px;
  grid-template-columns: 260px auto 260px;
  grid-column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.price__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.price__ratio {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #F1F1F1;
  opacity: 0.7;
}
.price__ratio:not(:last-child) {
  margin-bottom: 13px;
}
.price__percentages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.price__percentages:not(:last-child) {
  margin-bottom: 10px;
}
.price__percent {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 119.4444444444%;
  color: rgba(241, 241, 241, 0.7);
}
.price__name {
  font-size: 18px;
  line-height: 122.2222222222%;
  margin-top: -1px;
}
.price__line {
  height: 51px;
  width: 1px;
  background: rgba(241, 241, 241, 0.3);
  margin: 0 25px;
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 119.4444444444%;
  text-align: center;
}

.price-block__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 119.4444444444%;
  color: #F1F1F1;
}
.price-block__price {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120.8333333333%;
  color: #2194FF;
}
.price-block__price:not(:last-child) {
  margin-bottom: 21px;
}
.price-block__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  lline-height: 137.5%;
  color: #F1F1F1;
}
.price-block__text:not(:last-child) {
  margin-bottom: 28px;
}
.price-block__btn {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 138.8888888889%;
  text-align: center;
  color: #F1F1F1;
  background: #2194FF;
  border-radius: 50px;
  padding: 8px 15px 10px 15px;
  min-width: 155px;
}

@media (max-width: 1115px) {
  #price-block-1 {
    grid-area: A;
  }

  #price-block-2 {
    grid-area: C;
  }

  .price__center {
    grid-area: B;
  }
  .price__body {
    -ms-grid-columns: 1fr 15px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    -ms-grid-rows: auto 15px auto;
        grid-template-areas: "B B" "A C";
  }
  .price__img {
    position: relative;
    width: 100%;
    height: 246px;
    overflow: hidden;
  }
  .price__img img {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 1115px) {
  #price-block-1 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  #price-block-2 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .price__center {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}
@media (max-width: 600px) {
  .price__wrap {
    padding: 20px 0 20px 0;
  }
  .price__body {
    width: 100%;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 18px;
    -ms-grid-rows: auto 18px auto 18px auto;
        grid-template-areas: "B" "A" "C";
  }
  .price__title:not(:last-child) {
    margin-bottom: 15px;
  }

  .title {
    font-size: 24px;
  }

  .price-block__title {
    font-size: 22px;
  }
  .price-block__price {
    font-size: 20px;
  }
  .price-block__price:not(:last-child) {
    margin-bottom: 13px;
  }
  .price-block__text:not(:last-child) {
    margin-bottom: 15px;
  }
  #price-block-1 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  #price-block-2 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .price__center {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
}
.advantages__wrap {
  padding: 57px 0 40px 0;
}
.advantages__title {
  color: #fff;
}
.advantages__title:not(:last-child) {
  margin-bottom: 25px;
}
.advantages__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  grid-row-gap: 40px;
}

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.advantage__img {
  position: relative;
  height: 102px;
  width: 136px;
}
.advantage__img:not(:last-child) {
  margin-bottom: 8px;
}
.advantage__img img {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}
.advantage__title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120.8333333333%;
  text-align: center;
  color: #2194FF;
}
.advantage__title:not(:last-child) {
  margin-bottom: 14px;
}
.advantage__text {
  max-width: 322px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 137.5%;
  text-align: center;
  color: #F1F1F1;
}

@media (max-width: 1024px) {
  .advantages__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    grid-row-gap: 25px;
  }
}
.bottom-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bottom-advantages__img {
  position: relative;
  width: 50%;
  height: 284px;
  overflow: hidden;
}
.bottom-advantages__img img {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.bottom-advantages__body {
  width: 50%;
}
.bottom-advantages__text {
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 120%;
  color: #F1F1F1;
}
.bottom-advantages__text span {
  color: #2194ff;
}
.bottom-advantages__text:not(:last-child) {
  margin-bottom: 20px;
}
.bottom-advantages__label {
  padding: 7px 12px 9px 12px;
  background: #2194FF;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 135.7142857143%;
  color: #F1F1F1;
}

@media (max-width: 870px) {
  .advantages__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .bottom-advantages__text {
    font-size: 24px;
  }
}
@media (max-width: 600px) {
  .advantages__wrap {
    padding: 30px 0 25px 0;
  }
  .advantages__title:not(:last-child) {
    margin-bottom: 10px;
  }

  .advantage__title {
    font-size: 20px;
  }

  .bottom-advantages__img {
    display: none;
  }
  .bottom-advantages__body {
    width: 100%;
    padding: 0 0 15px 0;
  }
}
@media (max-width: 470px) {
  .advantages__body {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .bottom-advantages__text {
    font-size: 20px;
  }
  .bottom-advantages__label {
    font-size: 14px;
  }
}