@import "style/_nullstyle.scss";

.wrapper {
	background: #222222;
}

.header {
	&__container {
		max-width: 1076px;
	}
	&__wrap {
		display: flex;
		justify-content: space-between;
		padding-top: 18px;
	}
	&__left {
		display: flex;
	}
	&__logo {
		position: relative;
		width: 269px;
		height: 98px;
		display: flex;
		& img {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
	&__line {
		height: 33px;
		width: 1px;
		background: #fff;
		margin: 0 21px 0 24px;
		margin-top: 42px;
	}
	&__text {
		font-family: 'Open Sans';
		font-style: italic;
		font-weight: 400;
		font-size: 16px;
		line-height: 112%;
		color: #2194FF;
		margin-top: 42px;
	}
	&__right {
		margin-top: 6px;
	}
	&__phone {
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: calc(29*100%/24);
		color: #F1F1F1;
		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}
	&__question {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: calc(22*100%/16);
		text-decoration-line: underline;
		color: #2194FF;
	}
}

//------------------------------main-block--------------------------------------------

.main-block {
	&__container {
		max-width: 1076px;
	}
	&__wrap {
		padding: 33px 0 58px 0;
		position: relative;
		min-height: 535px;
	}
	&__body {
		max-width: 528px;
	}
	&__text {
		position: relative;
		&:not(:first-child) {
			margin-top: 12px;
		}
		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}
	&__title {
		font-style: normal;
		font-weight: 400;
		font-size: 64px;
		line-height: 98%;
		color: #2194FF;
		&:not(:last-child) {
			margin-bottom: 14px;
		}
	}
	&__subtitle {
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: calc(29*100%/24);
		color: #F1F1F1;
	}
	&__arrow {
		position: absolute;
		bottom: -57px;
		right: 23%;
	}
	&__button {
		max-width: 395px;
	}
	&__btn {
		position: relative;
		font-style: normal;
		font-weight: 400;
		font-size: 22px;
		line-height: 27px;
		text-align: center;
		color: #F1F1F1;
		text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
		background: #2194FF;
		box-shadow: inset 0px 4px 12px rgba(0, 0, 0, 0.45);
		border-radius: 11px;
		padding: 15px 15px 18px 15px;
		width: 395px;
		text-align: center;
		&:before {
			content: "";
			display: block;
			position: absolute;
			z-index: 2;
			width: 377px;
			height: 44.02px;
			background: url(../img/main_block/btn_top.svg);
			margin: 9.16px 9px 0 9px;
			top: 0;
			left: 0;
		}
		&:after {
			content: "";
			display: block;
			position: absolute;
			z-index: 2;
			width: 374px;
			height: 26.01px;
			background: url(../img/main_block/btn_bottom.svg);
			margin: 0 9px 8.81px 12px;
			bottom: 0;
			left: 0;
		}
		& span {
			position: relative;
			z-index: 3;
		}
	}
	&__label {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: calc(22*100%/16);
		color: #F1F1F1;
		text-align: center;
		&:not(:first-child) {
			margin-top: 13px;
		}
	}
	&__img {
		position: absolute;
		//transform: translate(0, 0);
		width: 1037px;
		height: 477px;
		top: 0;
		right: 58%;
		/*position: relative;
		& > img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}*/
	}
}
@media (min-width: 767px) {
	.main-block__img {
		//flex: 0 0 50%;
		transform: translate(100%, 0);
	}
}
.weather {
	display: flex;
	align-items: center;
	&__block {
		&:not(:last-child) {
			margin-right: 34px;
		}
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: calc(22*100%/16);
		color: #F1F1F1;
	}
	&__images {
		display: flex;
		align-items: center;
		margin-bottom: 7px;
	}
	&__img {
		position: relative;
		width: 25px;
		height: 25px;
		&:not(:last-child) {
			margin-right: 8px;
		}
		& > img {
			position: absolute;
			transform: translate(-50%, -50%);
			top: 50%;
			left: 50%;
		}
	}
	&_arrow {
		height: 16px;
		width: 16px;
	}
}

//----------------------------------price---------------------------------------------

.price {
	background: rgba(33, 148, 255, 0.05);
	&__container {
		max-width: 1077px;
	}
	&__wrap {
		padding: 46px 0 49px 0;
	}
	&__title {
		color: #2194FF;
		&:not(:last-child) {
			margin-bottom: 49px;
		}
	}
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__block {
		min-width: 260px;
	}
	&__center {
		margin: 0 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__ratio {
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: calc(24*100%/20);
		color: #F1F1F1;
		opacity: 0.7;
		&:not(:last-child) {
			margin-bottom: 13px;
		}
	}
	&__percentages {
		display: flex;
		align-items: center;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
	&__percent {
		font-style: normal;
		font-weight: 400;
		font-size: 36px;
		line-height: calc(43*100%/36);
		color: rgba(241, 241, 241, 0.7);
	}
	&__name {
		font-size: 18px;
		line-height: calc(22*100%/18);
		margin-top: -1px;
	}
	&__line {
		height: 51px;
		width: 1px;
		background: rgba(241, 241, 241, 0.3);
		margin: 0 25px;
	}
}
.title {
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 43px;
	text-align: center;
}
.price-block {
	&__title {
		font-style: normal;
		font-weight: 400;
		font-size: 36px;
		line-height: calc(43*100%/36);
		color: #F1F1F1;
	}
	&__price {
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: calc(29*100%/24);
		color: #2194FF;
		&:not(:last-child) {
			margin-bottom: 21px;
		}
	}
	&__text {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		lline-height: calc(22*100%/16);
		color: #F1F1F1;
		&:not(:last-child) {
			margin-bottom: 28px;
		}
	}
	&__btn {
		background: #2194FF;
		border-radius: 50px;
		padding: 8px 15px 10px 15px;
		min-width: 155px
	}
}