@import "style/_nullstyle.scss";

.wrapper {
	background: #222222;
}

.header {
	&__container {
		max-width: 1076px;
	}
	&__wrap {
		display: flex;
		justify-content: space-between;
		padding-top: 18px;
	}
	&__left {
		display: flex;
	}
	&__logo {
		position: relative;
		width: 269px;
		height: 98px;
		display: flex;
		& img {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
	&__line {
		height: 33px;
		width: 1px;
		background: #fff;
		margin: 0 21px 0 24px;
		margin-top: 42px;
	}
	&__text {
		font-family: 'Open Sans';
		font-style: italic;
		font-weight: 400;
		font-size: 16px;
		line-height: 112%;
		color: #2194FF;
		margin-top: 42px;
	}
	&__right {
		margin-top: 6px;
	}
	&__phone {
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: calc(29*100%/24);
		color: #F1F1F1;
		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}
	&__question {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: calc(22*100%/16);
		text-decoration-line: underline;
		color: #2194FF;
	}
}
@media (max-width: 720px) {
	.header {
		&__wrap {
			padding-top: 10px;
		}
		&__logo {
			width: 150px;
			height: calc(36.43*150px/100);
		}
		&__line {
			margin-top: 20px;
		}
		&__text {
			margin-top: 20px;
		}
		&__phone {
			font-size: 16px;
		}
	}
}
@media (max-width: 510px) {
	.header {
		&__logo {
			width: 135px;
			height: calc(36.43*135px/100);
		}
		&__line {
			display: none;
		}
		&__text {
			display: none;
		}
	}
}

//------------------------------main-block--------------------------------------------

.main-block {
	&__container {
		max-width: 1076px;
	}
	&__wrap {
		padding: 33px 0 58px 0;
		position: relative;
		min-height: 535px;
	}
	&__body {
		max-width: 528px;
	}
	&__text {
		position: relative;
		&:not(:first-child) {
			margin-top: 12px;
		}
		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}
	&__title {
		font-style: normal;
		font-weight: 400;
		font-size: 64px;
		line-height: 98%;
		color: #2194FF;
		&:not(:last-child) {
			margin-bottom: 14px;
		}
	}
	&__subtitle {
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: calc(29*100%/24);
		color: #F1F1F1;
	}
	&__arrow {
		position: absolute;
		bottom: -57px;
		right: 23%;
	}
	&__button {
		max-width: 395px;
	}
	&__btn {
		position: relative;
		font-style: normal;
		font-weight: 400;
		font-size: 22px;
		line-height: calc(27*100%/22);
		text-align: center;
		color: #F1F1F1;
		text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
		background: #2194FF;
		box-shadow: inset 0px 4px 12px rgba(0, 0, 0, 0.45);
		border-radius: 11px;
		padding: 15px 15px 18px 15px;
		width: 395px;
		text-align: center;
		transition: all 0.6s ease 0s;
		&::before {
			content: "";
			display: block;
			position: absolute;
			z-index: 2;
			width: 377px;
			height: 44.02px;
			background: url(../img/main_block/btn_top.svg);
			margin: 9.16px 9px 0 9px;
			top: 0;
			left: 0;
			opacity: 1;
			transition: all 0.6s ease 0s;
		}
		&::after {
			content: "";
			display: block;
			position: absolute;
			z-index: 2;
			width: 374px;
			height: 26.01px;
			background: url(../img/main_block/btn_bottom.svg);
			margin: 0 9px 8.81px 12px;
			bottom: 0;
			left: 0;
			opacity: 1;
			transition: all 0.6s ease 0s;
		}
		& span {
			position: relative;
			z-index: 3;
		}
		&:hover {
			box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.75);
			&:after,
			&:before {
				opacity: 0;
				transition: all 0.6s ease 0s;
			}
		}
	}
	&__label {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: calc(22*100%/16);
		color: #F1F1F1;
		text-align: center;
		&:not(:first-child) {
			margin-top: 13px;
		}
	}
	&__img {
		position: absolute;
		width: 1037px;
		height: 477px;
		top: 0;
		right: 58%;
		transform: translate(200%, 0);
		opacity: 0;
		&._active {
			opacity: 1;
			transform: translate(100%, 0);
			transition: all 0.8s ease 0s;
		}
	}
}
.weather {
	display: flex;
	align-items: center;
	&__block {
		&:not(:last-child) {
			margin: 0 34px 0 0;
		}
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: calc(22*100%/16);
		color: #F1F1F1;
	}
	&__images {
		display: flex;
		align-items: center;
		margin-bottom: 7px;
	}
	&__img {
		position: relative;
		width: 25px;
		height: 25px;
		&:not(:last-child) {
			margin-right: 8px;
		}
		& > img {
			position: absolute;
			transform: translate(-50%, -50%);
			top: 50%;
			left: 50%;
		}
	}
	&_arrow {
		height: 16px;
		width: 16px;
	}
}
@media (max-width: 970px) {
	.main-block {
		&__img {
			right: 40%;
		}
	}
}
@media (max-width: 700px) {
	.main-block {
		&__wrap {
			min-height: 0;
		}
		&__body {
			max-width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
		&__arrow {
			width: 80px;
			height: calc(80px*106.542/100);
			right: 0;
		}
		&__img {
			display: none;
		}
	}
	.weather {
		&__block {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}
@media (max-width: 480px) {
	.main-block {
		&__wrap {
			padding: 30px 0;
		}
		&__text {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
		&__title {
			font-size: 40px;
		}
		&__subtitle {
			font-size: 20px;
		}
		&__arrow {
			display: none;
		}
		&__button {
			max-width: 100%;
		}
		&__btn {
			width: 100%;
			font-size: 18px;
			&:before,
			&:after {
				display: none;
			}
		}
		&__label {
			font-size: 14px;
		}
	}
	.weather {
		flex-direction: column;
		&__block {
			&:not(:last-child) {
				margin: 0 0 15px 0;
			}
		}
	}
}

//----------------------------------price---------------------------------------------

.price {
	background: rgba(33, 148, 255, 0.05);
	&__wrap {
		padding: 46px 0 49px 0;
	}
	&__title {
		color: #2194FF;
		&:not(:last-child) {
			margin-bottom: 49px;
		}
	}
	&__body {
		display: grid;
		grid-template-columns: 260px auto 260px;
		grid-column-gap: 10px;
		align-items: center;
	}
	&__center {
		display: flex;
		flex-direction: column;
		align-items: center;
		//
	}
	&__ratio {
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: calc(24*100%/20);
		color: #F1F1F1;
		opacity: 0.7;
		&:not(:last-child) {
			margin-bottom: 13px;
		}
	}
	&__percentages {
		display: flex;
		align-items: center;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
	&__percent {
		font-style: normal;
		font-weight: 400;
		font-size: 36px;
		line-height: calc(43*100%/36);
		color: rgba(241, 241, 241, 0.7);
	}
	&__name {
		font-size: 18px;
		line-height: calc(22*100%/18);
		margin-top: -1px;
	}
	&__line {
		height: 51px;
		width: 1px;
		background: rgba(241, 241, 241, 0.3);
		margin: 0 25px;
	}
}
.title {
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: calc(43*100%/36);
	text-align: center;
}
.price-block {
	&__title {
		font-style: normal;
		font-weight: 400;
		font-size: 36px;
		line-height: calc(43*100%/36);
		color: #F1F1F1;
		opacity: 0;
		transform: translate(0, 100%);
	}
	&__price {
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: calc(29*100%/24);
		color: #2194FF;
		opacity: 0;
		transform: translate(0, 100%);
		&:not(:last-child) {
			margin-bottom: 21px;
		}
	}
	&__text {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		lline-height: calc(22*100%/16);
		color: #F1F1F1;
		opacity: 0;
		transform: translate(0, 100%);
		&:not(:last-child) {
			margin-bottom: 28px;
		}
	}
	&__btn {
		position: relative;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: calc(25*100%/18);
		text-align: center;
		color: #F1F1F1;
		background: #2194FF;
		border-radius: 50px;
		padding: 8px 15px 10px 15px;
		min-width: 155px;
		opacity: 0;
		transform: translate(0, 100%);
		overflow: hidden;
		& span {
			position: relative;
			z-index: 2;
		}
		&::after {
			position: absolute;
			content: "";
			display: block;
			top: 0;
    		left: 0;
    		width: 100%;
    		height: 100%;
    		border-radius: 50px;
    		background: #1569B9;
    		transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 0s;
    		transform: translate(-100%, 0);
		}
		&:hover:after {
			transform: translate(0, 0);
		}
		&:focus {
			box-shadow: 0 0 0 2px #2194FF;
		}
	}
	&._active {
		& .price-block__title {
			opacity: 1;
			transform: translate(0, 0);
			transition: all 0.6s ease 0s;
		}
		& .price-block__price {
			opacity: 1;
			transform: translate(0, 0);
			transition: all 0.6s ease 0.3s;
		}
		& .price-block__text {
			opacity: 1;
			transform: translate(0, 0);
			transition: all 0.6s ease 0.6s;
		}
		& .price-block__btn {
			opacity: 1;
			transform: translate(0, 0);
			transition: all 0.6s ease 0.9s, background 0.3s ease 0s;
		}
	}
}
@media (max-width: 1115px) {
	#price-block-1 {
		grid-area: A;
	}
	#price-block-2 {
		grid-area: C;
	}
	.price {
		&__center {
			grid-area: B;
		}
		&__body {
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 15px;
			grid-template-areas: 
				"B B"
				"A C";
		}
		&__img {
			position: relative;
			width: 100%;
			height: 246px;
			overflow: hidden;
			& img {
				position: absolute;
				//width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				object-fit: cover;
			}
		}
	}
}
@media (max-width: 600px) {
	.price {
		&__wrap {
			padding: 20px 0 20px 0;
		}
		&__body {
			width: 100%;
			grid-template-columns: 1fr;
			grid-gap: 18px;
			grid-template-areas: 
				"B"
				"A"
				"C";
		}
		&__title {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}
	.title {
	font-size: 24px;
	}
	.price-block {
		&__title {
			font-size: 22px;
		}
		&__price {
			font-size: 20px;
			&:not(:last-child) {
				margin-bottom: 13px;
			}
		}
		&__text {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}
}
.price__center {
	& .price {
		&__ratio {
			opacity: 0;
			transform: translate(0, -50%);
			transition: all 0.8s ease 0s;
		}
		&__percent {
			&_left {
				& .price {
					&__number {
						opacity: 0;
						transform: translate(-50%, 0);
						transition: all 0.8s ease 0.2s;
					}
					&__name {
						opacity: 0;
						transform: translate(-50%, 0);
						transition: all 0.8s ease 0.4s;
					}
				}
			}
			&_right {
				& .price {
					&__number {
						opacity: 0;
						transform: translate(50%, 0);
						transition: all 0.8s ease 0.2s;
					}
					&__name {
						opacity: 0;
						transform: translate(50%, 0);
						transition: all 0.8s ease 0.4s;
					}
				}
			}
		}
		&__line {
			opacity: 0;
			transition: all 0.8s ease 0.6s;
		}
		&__img {
			transform: scale(0);
			transition: all 0.8s ease 0.6s;
		}
	}
}
.price__center._active {
	& .price {
		&__ratio {
			opacity: 1;
			transform: translate(0, 0);
		}
		&__percent {
			&_left {
				& .price {
					&__number {
						opacity: 1;
						transform: translate(0, 0);
					}
					&__name {
						opacity: 1;
						transform: translate(0, 0);
					}
				}
			}
			&_right {
				& .price {
					&__number {
						opacity: 1;
						transform: translate(0, 0);
					}
					&__name {
						opacity: 1;
						transform: translate(0, 0);
					}
				}
			}
		}
		&__line {
			opacity: 1;
		}
		&__img {
			transform: scale(1);
		}
	}
}

//-------------------------------advantages-----------------------------------------------

.advantages {
	&__wrap {
		padding: 57px 0 40px 0;
	}
	&__title {
		color: #fff;
		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}
	&__body {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 30px;
		grid-row-gap: 40px;
	}
}
.advantage {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	
	&__img {
		position: relative;
		height: 102px;
		width: 136px;
		transform: scale(0);
		&:not(:last-child) {
			margin-bottom: 8px;
		}
		& img {
			position: absolute;
			bottom: 0;
			transform: translateX(-50%);
			left: 50%
		}

	}
	&__title {
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: calc(29*100%/24);
		text-align: center;
		color: #2194FF;
		opacity: 0;
		transform: translate(0, 50%);
		&:not(:last-child) {
			margin-bottom: 14px;
		}
	}
	&__text {
		max-width: 322px;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: calc(22*100%/16);
		text-align: center;
		color: #F1F1F1;
		opacity: 0;
		transform: translate(0, 50%);
	}
	&._active {
		& .advantage {
			&__img {
				transform: scale(1);
				transition: all 0.8s ease 0s;
			}
			&__title {
				opacity: 1;
				transform: translate(0, 0);
				transition: all 0.8s ease 0.3s;
			}
			&__text {
				opacity: 1;
				transform: translate(0, 0);
				transition: all 0.8s ease 0.6s;
			}
		}
	}
}
@media (max-width: 1024px) {
	.advantages {
		&__body {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			column-gap: 20px;
			grid-row-gap: 25px;
		}
	}
}
.bottom-advantages {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__img {
		position: relative;
		width: 50%;
		height: 284px;
		overflow: hidden;
		& img {
			position: absolute;
			height: 100%;
			top: 0;
			right: 0;
			object-fit: cover;
		}
	}
	&__body {
		width: 50%;
	}
	&__text {
		font-style: normal;
		font-weight: 400;
		font-size: 35px;
		line-height: calc(42*100%/35);
		color: #F1F1F1;
		& span {
			color: #2194ff;
		}
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	&__label {
		padding: 7px 12px 9px 12px;
		background: #2194FF;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 800;
		font-size: 14px;
		line-height: calc(19*100%/14);
		color: #F1F1F1;
	}
}
@media (max-width: 870px) {
	.advantages {
		&__body {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	.bottom-advantages {
		&__text {
			font-size: 24px;
		}
	}
}
@media (max-width: 600px) {
	.advantages {
		&__wrap {
			padding: 30px 0 25px 0;
		}
		&__title {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
	.advantage {
		&__title {
			font-size: 20px;
		}
	}
	.bottom-advantages {
		&__img {
			display: none;
		}
		&__body {
			width: 100%;
			padding: 0 0 15px 0;
		}
	}
}
@media (max-width: 470px) {
	.advantages {
		&__body {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	.bottom-advantages {
		&__text {
			font-size: 20px;
		}
		&__label {
			font-size: 14px;
		}
	}
}

//-----------------------------------volume------------------------------------------------------------------

.volume {
	background: rgba(33, 148, 255, 0.05);
	&__wrap {
		padding: 32px 0 64px 0;
	}
	&__title {
		color: #2194FF;
		&:not(:last-child) {
			margin-bottom: 37px;
		}
	}
	&__buttons {
		display: grid;
		grid-template-columns: repeat(4, 164px);
		grid-gap: 24px;
		justify-content: center;
		&:not(:last-child) {
			margin-bottom: 37px;
		}
	}
	&__button {
		background: rgba(241, 241, 241, 0.2);
		border-radius: 20px;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: calc(22*100%/18);
		text-align: center;
		color: #F1F1F1;
		opacity: 0.7;
		text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
		padding: 10px 15px;
		&:hover {
			cursor: pointer;
			animation: animate 0.6s linear 0s;
		}
		&_active {
			color: #F1F1F1;
			background: #2194FF;
			opacity: 1;
		}
	}
	&__slider {
		height: 306px;
		width: 596px;
		transform: translateX(-50%);
		left: 50%;
		position: relative;
		overflow: hidden;
		/*display: flex;
		align-items: center;
		left: 50%;*/
	}
	&__slider-line {
		display: flex;
		align-items: center;
		width: 2384px;

	}
	&__slide {
		position: relative;
		height: 306px;
		width: 596px;
		margin-left: 0;
		& img {
			position: absolute;
			width: 100%;
			height: 100%;
			transform: translate(-50%, -50%);
			top: 50%;
			left: 50%;
			object-fit: none;
		}
	}
	&__btn {
		margin: -30px 0 0 0;
	}
}
@keyframes animate {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(3deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(-3deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
.order-button {
	position: relative;
	border-radius: 11px;
	width: 295px;
	padding: 29px 20px;
	background: #2194FF;
	box-shadow: inset 0px 4px 12px rgba(0, 0, 0, 0.45);
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: calc(29*100%/24);
	text-align: center;
	color: #F1F1F1;
	text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
	transform: translateX(-50%);
	left: 50%;
	transition: all 0.6s ease 0s;
	&:before {
		content: "";
		display: block;
		position: absolute;
		z-index: 2;
		width: 377px;
		height: 44.02px;
		background: url(../img/volume/btn_top.svg) no-repeat;
		margin: 10.01px 7px 0 7px;
		top: 0;
		left: 0;
		transition: all 0.6s ease 0s;
	}
	&:after {
		content: "";
		display: block;
		position: absolute;
		z-index: 2;
		width: 374px;
		height: 26.01px;
		background: url(../img/volume/btn_bottom.svg) no-repeat;
		margin: 0 7px 7.97px 9px;
		bottom: 0;
		left: 0;
		transition: all 0.6s ease 0s;
	}
	& span {
		position: relative;
		z-index: 3;
	}
	&:hover {
		box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.75);
		&:after,
		&:before {
			opacity: 0;
			transition: all 0.6s ease 0s;
		}
	}
}
@media (max-width: 750px) {
	.volume {
		&__buttons {
			grid-template-columns: repeat(2, 150px);
			grid-gap: 12px;
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}
}
@media (max-width: 625px) {
	.volume {
		&__wrap {
			padding: 30px 0 30px 0;
		}
		&__title {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
		&__buttons {
			grid-template-columns: repeat(2, 120px);
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
		&__button {
			border-radius: 15px;
			font-size: 14px;
			padding: 10px 10px;
		}
		&__slider {
			width: 100%;
		}
		&__slide {
			width: 93vw;
			& img {
				object-fit: contain;
			}
		}
	}
}
@media (max-width: 600px) {
	.order-button {
		width: 100%;
		max-width: 300px;
		padding: 15px;
		font-size: 18px;
		&:before {
			display: none;
		}
		&:after {
			display: none;
		}
	}
}

//-----------------------------------reviews----------------------------------------------------------------

.slick {
	&-list {
		overflow: hidden;
	}
	&-track {
		display: flex;
	}
}
.reviews {
	&__container {
		max-width: 1013px;
	}
	&__wrap {
		padding: 40px 0;
	}
	&__title {
		color: #F1F1F1;
		&:not(:last-child) {
			margin-bottom: 47px;
		}
	}
	&__slider {
		position: relative;
		& .slick {
			&-arrow {
				position: absolute;
				width: 47px;
				height: 72px;
				top: 50%;
				transform: translateY(-50%);
				font-size: 0;
				z-index: 10;
				&.slick-prev {
					left: 0;
					background: url('../img/reviews/prev.svg') 0 0 no-repeat;
				}
				&.slick-next {
					right: 0;
					background: url('../img/reviews/next.svg') 0 0 no-repeat;
				}
			}
			&-dots {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-top: 24px;
				transform: translateX(-50%);
				margin-left: 50%;
				& li {
					width: 61px;
					height: 18px;
					background: rgba(241, 241, 241, 0.2);
					border-radius: 20px;
					cursor: pointer;
					&.slick-active {
						background: #2194FF;
					}
					&:not(:last-child) {
						margin-right: 8px;
					}
				}
				& button {
					font-size: 0;
				}
			}
		}
	}
	&__slid {
		position: relative;
		min-height: 320px;
	}
	&__slid-body {
		position: absolute;
		width: 759px;
		min-height: 320px;
		display: grid;
		grid-template-columns: 201px 445px;
		grid-column-gap: 23px;
		background: #F1F1F1;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
		border-radius: 40px;
		padding: 40px;
		transform: translateX(-50%);
		left: 50%;
	}
	&__img {
		position: relative;
		width: 201px;
		height: 240px;
		border-radius: 25px;
		overflow: hidden;
		& img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
	&__name {
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: calc(29*100%/24);
		color: #2194FF;
		&:not(:last-child) {
			margin-bottom: 4px;
		}
	}
	&__city {
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: calc(22*100%/18);
		color: #2D2D2D;
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
	&__comment {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: calc(22*100%/16);
		color: #2D2D2D;
	}
}
@media (max-width: 1024px) {
	.reviews {
		&__slid {
			opacity: 0;
			transition: opacity 0.3s ease 0s;
			&.slick-active {
				opacity: 1;
			}
		}
	}
}
@media (max-width: 900px) {
	.reviews {
		&__slid {
			min-height: 280px;
		}
		&__slid-body {
			padding: 20px;
			width: 100%;
			min-height: 280px;
			grid-template-columns: 201px auto;
			grid-column-gap: 23px;
			border-radius: 20px;
		}
	}
}
@media (max-width: 600px) {
	.reviews {
		&__wrap {
			padding: 30px 0;
		}
		&__title {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
		&__slid {
			min-height: 200px;
		}
		&__slid-body {
			padding: 10px;
			min-height: 200px;
			width: 93vw;
			grid-template-columns: 100px auto;
			grid-column-gap: 10px;
			border-radius: 10px;
		}
		&__name {
			font-size: 18px;
		}
		&__city {
			font-size: 16px;
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
		&__comment {
			font-size: 14px;
		}
		&__img {
			width: 100px;
			height: calc(1.194*100px);
			border-radius: 5px;
			& img {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
		}
		&__slider {
			& .slick {
				&-dots {
					margin-top: 15px;
					& li {
						width: 30px;
						height: 15px;
						border-radius: 10px;
						&:not(:last-child) {
							margin-right: 5px;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 450px) {
	.reviews {
		&__slid {
			min-height: 210px;
		}
		&__slid-body {
			padding: 10px;
			min-height: 210px;
			width: 93vw;
			grid-template-columns: 1fr;
			grid-column-gap: 0;
			border-radius: 10px;
		}
		&__img {
			display: none;
		}
	}
}


//-----------------------------------answers-------------------------------------

.answers {
	background: rgba(33, 148, 255, 0.05);
	&__wrap {
		padding: 40px 0;
	}
	&__title {
		color: #2194FF;
		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}
	&__item {
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		transform: translate(-100%, 0);
		opacity: 0;

	}
	&__answer {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: calc(22*100%/16);
		text-transform: uppercase;
		color: #F1F1F1;
		background: rgba(0, 0, 0, 0);
		width: 100%;
		padding: 24px 32px;
		text-align: left;
		transition: color 0.5s ease 0s;
		&.icon-arrow:before {
			display: inline-block;
			margin-right: 22px;
			transition: all 0.5s ease 0s;
		}
		&.answers__answer_active {
			color: #2194FF;
			transition: color 0.5s ease 0s;
			&.icon-arrow:before {
				transform: rotate(180deg);
				color: #2194ff;
				transition: all 0.5s ease 0s;
			}
		}
	}
	&__text {
		display: block;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: calc(22*100%/16);
		color: #F1F1F1;
		overflow: hidden;
		height: 0;
		opacity: 0;
		margin: 0 30px 0 70px;
		transition: all 0.5s ease 0s;
		&_active {
			margin: -6px 30px 24px 70px;
			opacity: 1;
			height: auto;
			transition: all 0.5s ease 0s;
		}
	}
}
.answers__body {
	&._active {
		.answers__item {
			@for $var from 1 to 6 {
				$delay: $var * 0.2;
				&:nth-child(#{$var}) {
					@if $var==1 {
						transition: all 0.8s ease 0s;
					} @else {
						transition: all 0.8s ease #{$delay +s};
					}
				}
			}
			transform: translate(0, 0);
			opacity: 1;
		}
	}
}
@media (max-width: 600px) {
	.answers {
		&__answer {
			font-size: 14px;
			padding: 15px;
			&.icon-arrow:before {
				margin-right: 15px;
			}
		}
		&__text {
			font-size: 14px;
			&_active {
				margin: 0 20px 20px 44px;
			}
		}
	}
}
@media (max-width: 425px) {
	.answers {
		&__wrap {
			padding: 30px 0;
		}
		&__answer {
			padding: 15px 5px;
			&.icon-arrow:before {
				margin-right: 5px;
			}
		}
		&__text {
			font-size: 14px;
			&_active {
				margin: 0 15px 15px 15px;
			}
		}
	}
}

//----------------------------request-----------------------------------------------------------------

.request {
	&__container {
		max-width: 1076px;
	}
	&__wrap {
		padding: 55px 0 59px 0;
		display: flex;
		justify-content: start;
		align-items: top;
	}
	&__body {
		max-width: 567px;
	}
	&__title {
		color: #F1F1F1;
		text-align: left;
		&:not(:last-child) {
			margin-bottom: 50px;
		}
	}
	&__form {
		display: flex;
		flex-direction: column;
		max-width: 402px;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: calc(16*100%/12);
		text-transform: uppercase;
		color: rgba(45, 45, 45, 0.5);
	}
	&__name {
		padding: 17px 22px 18px 22px;
		background: #FFFFFF;
		border: 1px solid #DEDEDE;
		box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}
	&__phone {
		padding: 17px 22px 18px 22px;
		background: #FFFFFF;
		border: 1px solid #DEDEDE;
		box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}
	&__question {
		height: 112px;
		padding: 17px 22px 17px 22px;
		background: #FFFFFF;
		border: 1px solid #DEDEDE;
		box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}
	&__button {
		width: 220px;
		padding: 10px 10px 12px 10px;
		background: #2194FF;
		border-radius: 50px;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: calc(25*100%/18);
		text-align: center;
		color: #F1F1F1;
		position: relative;
		overflow: hidden;
		& span {
			position: relative;
			z-index: 2;
		}
		&::after {
			position: absolute;
			content: "";
			display: block;
			top: 0;
    		left: 0;
    		width: 100%;
    		height: 100%;
    		border-radius: 50px;
    		background: #1569B9;
    		transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 0s;
    		transform: translate(-100%, 0);
		}
		&:hover:after {
			transform: translate(0, 0);
		}
		&:focus {
			box-shadow: 0 0 0 2px #2194FF;
		}
	}
	&__img {
		filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25));
		border-radius: 40px;
		position: relative;
		width: 366px;
		height: 454px;
		& img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
	&__label {
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 0 0 40px -50px;
		display: inline-block;
		padding: 13px 21px 19px 26px;
		background: rgba(33, 148, 255, 0.8);
		border-radius: 20px;
		color: #F1F1F1;
	}
	&__manager-name {
		font-family: 'Russo One';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: calc(29*100%/24);
	}
	&__post {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: calc(22*100%/16);
	}
}
@media (max-width: 970px) {
	.request {
		&__body {
			max-width: 400px;
			margin: 0 70px 0 0;
		}
	}
}
@media (max-width: 870px) {
	.request {
		&__body {
			margin: 0 20px 0 0;
		}
		&__label {
			min-width: 220px;
			left: 50%;
			transform: translateX(-50%);
			margin: 0 0 20px 0;
			padding: 13px 20px 19px 20px;
		}
	}
}
@media (max-width: 750px) {
	.request {
		&__wrap {
			flex-direction: column-reverse;
			align-items: center;
		}
		&__body {
			max-width: 100%;
			margin: 20px 0 0 0;
		}
		&__title {
			text-align: center;
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
		&__form {
			max-width: 100%;
			align-items: center;
		}
		&__name {
			width: 100%;
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
		&__phone {
			width: 100%;
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
		&__question {
			width: 100%;
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}
}
@media (max-width: 600px) {
	.request {
		&__wrap {
			padding: 30px 0;
		}
		&__label {
			text-align: center;
			min-width: 180px;
			padding: 10px;
			border-radius: 10px;
		}
		&__manager-name {
			font-size: 18px;
		}
		&__post {
			font-size: 14px;
		}
	}
}
@media (max-width: 400px) {
	.request {
		&__img {
			width: 100%;
			height: 114.7vw;
		}
		&__name {
			padding: 10px 15px;
		}
		&__phone {
			padding: 10px 15px;
		}
		&__question {
			padding: 10px 15px;
		}
	}
}

//------------------------------------partners---------------------------------------------

.partners {
	&__container {
		max-width: 1076px;
	}
	&__wrap {
		padding: 0 0 40px 0;
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		align-items: center;
		justify-content: space-between;
		&:not(:last-child) {
			margin-bottom: 34px;
		}
	}
	&__item {
		width: 166px;
		height: 66px;
		background: #F1F1F1;
		border-radius: 20px;
		position: relative;
		transform: perspective(600px) translate(0px, -100%) rotateX(70deg);
		opacity: 0;
		& img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	&__title {
		color: #2194FF;
		&:not(:last-child) {
			margin-bottom: 39px;
		}
	}
}
.partners__list {
	&._active {
		.partners__item {
			@for $var from 1 to 7 {
				$delay: $var * 0.2;
				&:nth-child(#{$var}) {
					@if $var==1 {
						transition: all 0.8s ease 0s;
					} @else {
						transition: all 0.8s ease #{$delay +s};
					}
				}
			}
			transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
			opacity: 1;
		}
	}
}
@media (max-width: 1060px) {
	.partners {
		&__item {
			width: 150px;
		}
	}
}
@media (max-width: 975px) {
	.partners {
		&__list {
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);
			grid-gap: 24px;
		}
		&__item {
			width: 100%;
		}
	}
}
@media (max-width: 537px) {
	.partners {
		&__list {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 1fr);
			grid-gap: 20px;
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}
}
@media (max-width: 422px) {
	.partners {
		&__title {
			font-size: 20px;
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}
}
@media (max-width: 390px) {
	.partners {
		&__list {
			grid-gap: 10px;
		}
	}
}

//--------------------------------location-----------------------------------------

.location {
	&__wrap {
		background: #F1F1F1;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
		border-radius: 33px;
		display: flex;
		min-height: 488px;
		overflow: hidden;
	}
	&__body {
		padding: 40px;
		max-width: 570px;
	}
	&__title {
		text-align: left;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #2194FF;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}
	&__subtitle {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: calc(25*100%/18);
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #1B2639;
		&:not(:last-child) {
			margin-bottom: 21px;
		}
	}
	&__line {
		height: 1px;
		width: 100%;
		background: rgba(27, 38, 57, 0.2);
		&:not(:last-child) {
			margin-bottom: 31px;
		}
	}
	&__item {
		&:not(:last-child) {
			margin-bottom: 45px;
		}
	}
	&__name {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: calc(25*100%/18);
		text-transform: uppercase;
		color: #2194FF;
		&:not(:last-child) {
			margin-bottom: 3px;
		}
	}
	&__text {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: calc(25*100%/18);
		color: #1B2639;
	}
	&__map {
		flex: 1 1 50%;
	}
}
@media (max-width: 1130px) {
	.location {
		&__wrap {
			flex-direction: column;
		}
		&__body {
			padding: 40px;
			max-width: 100%;
		}
		&__title {
			text-align: center;
		}
		&__map {
			flex: 0 0 0;
			max-width: 100%;
		}
	}
}
@media (max-width: 600px) {
	.location {
		&__subtitle,
		&__text,
		&__name {
			font-size: 16px;
		}
		&__map {
			height: 360px;
		}
	}
}
@media (max-width: 425px) {
	.location {
		&__body {
			padding: 20px 10px;
		}
		&__subtitle {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
		&__line {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
		&__item {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
		&__map {
			height: 280px;
		}
	}
}

//--------------------------------footer-------------------------------------------

.footer {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: calc(19*100%/14);
	text-decoration-line: underline;
	color: #F1F1F1;
	&__container {
		max-width: 1076px;
	}
	&__wrap {
		padding: 40px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__privacy {
		color: inherit;
	}
	&__approval {
		color: inherit;
	}
}
@media (max-width: 600px) {
	.footer {
		&__wrap {
			padding: 40px 0 20px 0;
			flex-direction: column;
		}
		&__privacy {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}
}
@media (max-width: 350px) {
	.footer {
		font-size: 12px;
	}
}

//--------------------------------------popup------------------------------------------

.popup {
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(45, 45, 45, 0.9);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.6s ease 0s;
	&__body {
		min-height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 20px 10px;
	}
	&__content {
		background: #FFFFFF;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
		border-radius: 33px;
		max-width: 462px;
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 30px;
		align-items: center;
		justify-content: start;
		transition: all 0.6s ease 0s;
		opacity: 0;
		transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	&__header {
		display: flex;
		align-items: top;
		justify-content: space-between;
		width: 100%;
		&:not(:last-child) {
			margin-bottom: 26px;
		}
	}
	
	&__close {
		width: 21.5px;
		height: 21.5px;
		position: relative;
		background: rgba(0, 0, 0, 0);
		& span,
		& span::after {
			position: absolute;
			width: 30.4056px;
			height: 2px;
			background: #2194FF;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
		}
		& span::after {
			content: "";
			display: block;
			transform: translate(-50%, -50%) rotate(90deg);
		}
	}
	&__label {
		max-width: 462px;
		font-family: 'Open Sans';
		font-style: italic;
		font-weight: 400;
		font-size: 14px;
		line-height: calc(19*100%/14);
		text-align: center;
		color: #FFFFFF;
		opacity: 0;
		transform: translate(0, 100%);
		transition: all 0.6s ease 0s;
	}
	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: calc(16*100%/12);
		text-transform: uppercase;
		color: rgba(45, 45, 45, 0.5);
	}
	&__name {
		padding: 17px 22px 18px 22px;
		background: #FFFFFF;
		border: 1px solid #DEDEDE;
		box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		width: 100%;
		font-size: 12px;
		line-height: calc(16*100%/12);
		color: #000;
		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}
	&__phone {
		padding: 17px 22px 18px 22px;
		background: #FFFFFF;
		border: 1px solid #DEDEDE;
		box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		width: 100%;
		font-size: 12px;
		line-height: calc(16*100%/12);
		color: #000;
		&:not(:last-child) {
			margin-bottom: 42px;
		}
	}
	&__button {
		font-family: 'Open Sans';
		position: relative;
		width: 361px;
		padding: 29px 10px;
		background: #2194FF;
		border-radius: 11px;
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: calc(29*100%/24);
		text-align: center;
		color: #F1F1F1;
		&:before {
			content: "";
			display: block;
			position: absolute;
			z-index: 2;
			width: 343px;
			height: 44px;
			background: url(../img/popup/top.svg) no-repeat;
			margin: 10px 9px 0 9px;
			top: 0;
			left: 0;
		}
		&:after {
			content: "";
			display: block;
			position: absolute;
			z-index: 2;
			width: 341px;
			height: 26px;
			background: url(../img/popup/bottom.svg) no-repeat;
			margin: 0 9px 8px 11px;
			bottom: 0;
			left: 0;
		}
		& span {
			position: relative;
			z-index: 11;
		}
	}
	&__title {
		font-family: 'Russo One';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: calc(29*100%/24);
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #2194FF;
	}
	&.open {
		opacity: 1;
		visibility: visible;
		& .popup__content {
			opacity: 1;
			transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
		}
		& .popup__label {
			opacity: 0.6;
			transform: translate(0, 0);
		}
	}
}

.popup-thanks {
	& .popup__content {
		background: inherit;
		box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
		border-radius: 0;
		max-width: 100%;
		padding: 0;
	}
	&__title {
		font-style: normal;
		font-weight: 400;
		font-size: 48px;
		line-height: calc(58*100%/48);
		text-align: center;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #2194FF;
		&:not(:last-child) {
			margin-bottom: 26px;
		}
	}
	&__subtitle {
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: calc(29*100%/24);
		text-align: center;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #F1F1F1;
		&:not(:last-child) {
			margin-bottom: 51px;
		}
	}
	&.open {
		opacity: 1;
		visibility: visible;
		& .popup-thanks__content {
			opacity: 1;
			transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
		}
	}
}

@media (max-width: 450px) {
	.popup {
		&__phone {
			padding: 10px;
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
		&__name {
			padding: 10px;
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
		&__button {
			width: 100%;
			padding: 15px 10px;
			border-radius: 11px;
			font-size: 18px;
			&:before {
				display: none;
			}
			&:after {
				display: none;
			}
		}
	}
	.popup-thanks {
		&__title {
			font-size: 28px;
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
		&__subtitle {
			font-size: 20px;
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}
}